/* Universals */

html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;

}

a {
  color: white;
  text-decoration: none;
}
footer {
  display: flex;
  align-items: center;
  height: 9.5rem;
  background-color: azure;
  width: 80%;

}

/* entire page container */

.pagecontainer {
  display: flex;
  justify-content: center;

}

/* site container */

.sitecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 3rem; */


  width: 960px;
  /* border: 1px solid black; */
}

/* hero/logo container */

.herocontainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: 30%;
  /* border: 1px solid pink; */

}
.logocontainer {
  /* position: fixed;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 3.5rem;
  /* border: 2px solid purple; */
  background-color: cadetblue;


}
.logocontainermobile {
  /* position: fixed;
  top: 0; */
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 3.5rem;
  /* border: 2px solid purple; */
  background-color: cadetblue;


}


.logocontainer img {
  height: 1.5rem;
  width: auto;
  margin-left: 2rem;


}
.logocontainer span {
  display: inline-block;
  padding-right: 2rem;
}
.logotext {
  margin-right: auto;
  padding-left: 1rem;
  font-size: 1rem;
  color: white;


}
.herotextcontainer {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 8%;
  margin-top: 10rem;
  /* border: 1px solid black; */

}
.herotext {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: white;

}

/* feature container */

.featurecontainer {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  flex-direction: column;
  height: 8rem;
  margin-top: 3rem;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  text-align: center;

}
.featurecontainermobile {
  display: none;
}
.featurecontainer p {
  padding-bottom: .25rem;
}
.paper {
  width: 3.5rem;
  margin-bottom: .9rem;

}
.ruler {
  width: 5rem;
  margin-bottom: 2.65rem;

}
.truck {
  width: 5rem;
  margin-bottom: 2.25rem;

}
.featureone {
  /* border: 1px solid black; */
  margin-right: 6rem;

}
.featuretwo {
  /* border: 1px solid black; */
  margin-right: 6rem;

}
.featurethree {
  /* border: 1px solid black; */

}

/* bottom container / philosophy + appointments */

.bottomcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: column;
  height: 12rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  /* border: 1px solid black; */


}
.botcolumn {
  width: 35%;
  margin-right: 5%;
  /* border: 2px solid pink; */


}


.botcolumn p {
  text-align: left;
}
.bottitle {
  font-weight: bold;
  width: 10rem;
  font-size: 1rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;

}

/* footer */

.footeritemone {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;


}
.footeritemone img {
  height: 1.5em;
  margin-right: 1rem;

}
@media only screen and (min-width: 1600px) {
  .logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sitecontainer {
    padding-top: 3rem;
    width: 100%;
  }
.bottomcontainer {
  padding-bottom: 1px;

}


}
@media only screen and (max-width: 1024px) {
  .logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sitecontainer {
    /* padding-top: 3rem; */
    width: 100%;
  }
  .herocontainer {
    height: 22rem;

  }
  .herotext {
    padding: 0.75rem 4rem;
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: white;


  }
  .herotextcontainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 5rem;
    /* border: 1px solid black; */

  }
  .featurecontainer {
    width: 70%;
  }
  .bottomcontainer {
    height: 13.5rem;

  }




}
@media only screen and (max-width: 1200px) {
  .logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sitecontainer {
    padding-top: 3rem;
    width: 100%;
  }
  .herocontainer {
    height: 22rem;

  }
  .herotext {
    padding: 0.75rem 4rem;
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: white;


  }
  .herotextcontainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 10rem;
    /* border: 1px solid black; */

  }
  .featurecontainer {
    width: 70%;
  }
  .bottomcontainer {
    height: 13.5rem;

  }
}
@media only screen and (max-width: 1600px) {
  .logocontainer {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sitecontainer {
    /* padding-top: 3rem; */
    width: 100%;
  }
  .herocontainer {
    height: 22rem;

  }
  .herotext {
    padding: 0.75rem 4rem;
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: white;


  }
  .herotextcontainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 10rem;
    /* border: 1px solid black; */

  }
  .featurecontainer {
    width: 70%;
  }
  .bottomcontainer {
    height: 13.5rem;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .logocontainer {
    display: none;
  }
  .logocontainermobile {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .logocontainermobile img {
    height: 1.5rem;
    width: auto;
    margin-left: 2rem;


  }
  .logocontainermobile span {
    display: inline-block;
    padding-right: 2rem;


  }
  .herocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17rem;
    background-image: url("../images/glasses-bg.png");
    background-size: cover;
    background-position: 20%;
    /* border: 1px solid pink; */


  }
  .herotextcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: 8%; */
    margin-top: 12rem;
    /* border: 1px solid black; */
    text-align: center;

  }
  .herotext {
    padding:  1rem 0rem 1rem 0rem;

    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.2;
    text-transform: uppercase;
    background-color: white;
    width: 100%;

  }
  .featurecontainer {
    display: none;
  }
  .featurecontainermobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    height: 25rem;
    margin-top: 3.77rem;
    /* border: 1px solid black; */
    justify-content: flex-start;
    align-items: center;
    text-align: center;

  }
  .featureonemobile {
    /* border: 1px solid black; */
    margin-bottom: 1.54rem;
    /* margin-right: 6rem; */

  }
  .featurecontainermobile p {
    font-size: .77rem;

  }
  .featuretwomobile {
    /* border: 1px solid black; */
    /* margin-right: 6rem; */
    margin-bottom: 1.54rem;

  }
  .featurethreemobile {
    /* margin-bottom: 1.54rem; */
    /* border: 1px solid black; */

  }
  .papermobile {
    width: 3.5rem;
    margin-bottom: 1.54rem;

  }
  .rulermobile {
    width: 5rem;
    margin-bottom: 1.54rem;

  }
  .truckmobile {
    width: 5rem;
    margin-bottom: 1.54rem;


  }
  .bottomcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    height: 17.8rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* border: 1px solid black; */
  }
  .botcolumn {
    width: 100%;
    margin-right: 0;
    /* border: 2px solid pink; */



  }
  .botcolumn p {
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1rem;

  }
  .botcolumn p:first-child {
    text-align: center;
    margin-left: 0rem;
  }

  .bottitle {
    padding: 0.5rem 1.25rem;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    width: 100%;


}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.5rem;
  background-color: azure;
  width: 100%;

}
.footeritemone {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;


}
.footeritemone span {
  display: none;
}
.footeritemone img {
  height: 1.5em;
  margin-right: 0rem;

}

}
